


@using Partial_Views_Exercise.Models;

@{ 
    UserModel user = (UserModel)ViewData["user"];
}

@{ 
    <table>
        <tr>
            <th>Name : </th><td>@user.name</td>
        </tr>
        <tr>
            <th>Email : </th><td>@user.email</td>
        </tr>
    </table>
}
